<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <form method="post">
            <input name="name" type="text" placeholder="Your name"/><input type="submit"/><br/>
            <textarea name="message" placeholder="Your message"></textarea>
        </form>
    </body>
</html>
